P7:Implement NumPy features
Create an Employee table using a Structured array and answer the questions.

1. How many Male employees are in a company?
2. Display the details of employees whose Last_Name starts with S.
3. Sort the Female Employee details in descending order based on First_Name.
4. Extract 1D array and reshape it into 2D array.
5. Extract the below matrix using Boolean and Fancy indexing.

In [2]:
import numpy as np
import pandas as pd

In [43]:
dtype = [("Emp_id",'i8'),("Last_Name",'U9'),("First_Name",'U9'),('Gender','U2'),("Title",'U32')]

Employee_data = np.array([(1000,'Tobarti','Yolanda', 'F','Programmer'),
                        (1001,'Klenin','Joel', 'M','Programmer'),
                        (1002,'Ginsburg','Laura', 'F','President'),
                        (1003,'Cox','Jennifer', 'F','Programmer'),
                        (1005,'Ziada','Mauri', 'M','Product Designer'),
                        (1006,'Keyser','Cara', 'F','Account Executive'),
                        (1010,'Smith','Roxie', 'M','Programmer'),
                        (1011,'Nelson','Robert', 'M','Programmer'),
                        (1012,'Sachsen','Lars', 'M','Support Technician'),
                        (1013,'Shanon','Don', 'M','Product Designer')] ,dtype= dtype)

Employee_data

array([(1000, 'Tobarti', 'Yolanda', 'F', 'Programmer'),
       (1001, 'Klenin', 'Joel', 'M', 'Programmer'),
       (1002, 'Ginsburg', 'Laura', 'F', 'President'),
       (1003, 'Cox', 'Jennifer', 'F', 'Programmer'),
       (1005, 'Ziada', 'Mauri', 'M', 'Product Designer'),
       (1006, 'Keyser', 'Cara', 'F', 'Account Executive'),
       (1010, 'Smith', 'Roxie', 'M', 'Programmer'),
       (1011, 'Nelson', 'Robert', 'M', 'Programmer'),
       (1012, 'Sachsen', 'Lars', 'M', 'Support Technician'),
       (1013, 'Shanon', 'Don', 'M', 'Product Designer')],
      dtype=[('Emp_id', '<i8'), ('Last_Name', '<U9'), ('First_Name', '<U9'), ('Gender', '<U2'), ('Title', '<U32')])

1.

In [64]:
print(len(Employee_data['Gender'] == 'M'))

10

2.

In [87]:
print(Employee_data[list(map(lambda x: x[0] == 'S',Employee_data['Last_Name']))])

[(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shanon', 'Don', 'M', 'Product Designer')]

3.

In [95]:
sorted(Employee_data[Employee_data['Gender'] == 'F'],key = lambda x : x[2])

[(1006, 'Keyser', 'Cara', 'F', 'Account Executive'),
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer'),
 (1002, 'Ginsburg', 'Laura', 'F', 'President'),
 (1000, 'Tobarti', 'Yolanda', 'F', 'Programmer')]

4.

In [96]:
print(np.array(Employee_data['First_Name']).reshape(2,5))

[['Yolanda' 'Joel' 'Laura' 'Jennifer' 'Mauri']
 ['Cara' 'Roxie' 'Robert' 'Lars' 'Don']]

5.

In [110]:
print("Using Boolean Indexing")
boolean = np.array([0,0,1,1,1,1,1,1,1,0],dtype = 'bool')

print(Employee_data[boolean])
print("Using Fancy Indexing")
print(Employee_data[[2,3,4,5,6,7,8]])

Using Boolean Indexing
[(1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')]
Using Fancy Indexing
[(1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jennifer', 'F', 'Programmer')
 (1005, 'Ziada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')]

1. Import the domain dataset that you identi

ied with missing values and perform the following.

For each output, give the interpretation with respect to the imported dataset.
2. Read the csv

ile and create and understand the data frame using describe(), shape,

info().
3. Find if any missing values (null values) are in the data, handle all the rows with missing
data in four different ways (delete, replace, f
ill, b
ill), and print the data frame.

4. Filter based on any column using groupby().
5. Select 20 samples randomly and Create a data frame with Hiraricle Index